.About{
    background-color: rgb(3, 33, 34);
    color: aliceblue;
    display: flex;
    gap: 10vh;
    padding-right: 10vh;
   justify-content: space-between;
    padding-left: 10vh;
    padding-top: 30vh;
    height: 95vmax;
}
img{
width: 50vh;
height: 50vh;
}